Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-constant-array-index
WarningsAsErrors: ''
HeaderFilterRegex: 'include/asteroids/.*'
